body {
  line-height: 1.6;
  font-weight: 400;
  color: #484848;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
}
:root{
  --text-color:#000000;
  --main-color:#83b735;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #E72463;
}

a,
button,
i {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea,
.slick-slide {
  text-decoration: none;
  outline: 0;
}

input.input-field {
  border: 1px solid #dddddd;
}

textarea.textarea-field {
  border: 1px solid #dddddd;
}






button,
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

hr {
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

.mark,
mark {
  background: #E72463 none repeat scroll 0 0;
  color: #ffffff;
}

/* ---Font Style--- */
.font-style_italic {
  font-style: italic;
}

/* ---Line Height--- */
.line-height-1 {
  line-height: 1;
}

.main-header-area .header-logo img {
  width: 125px;
}

/* ---Sticky Header--- */
.header-sticky.header-transparent {
  position: fixed;
  width: 100%;
  z-index: 99;
}

@media (max-width: 767px) {
  .header-sticky.header-transparent {
    position: relative;
  }
}

.header-sticky.sticky {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
          animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 99;
}

/* ---Main Menu--- */
.main-nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 30px 0;
}

.main-nav > ul > li:hover .dropdown-hover {
  visibility: visible;
  background-color: #fff;
  opacity: 1;
  top: 100%;
}

.main-nav > ul > li:hover .dropdown-hover-2 {
  visibility: visible;
  opacity: 1;
  top: 100%;
  background-color: #fff;
  
}

.main-nav > ul > li > a {
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #fff;
}

.main-nav > ul > li > a.active {
  color: #E72463;
}

.main-nav > ul > li > a:hover {
  color: #E72463;
}

.main-nav > ul > li > a i {
  margin-left: 0px;
  font-size: 15px;
  vertical-align: middle;
}

.main-nav > ul > li > a .menu-text {
  position: relative;
}

/*--- Dropdwon ---*/
.dropdown-submenu {
  background: #ffffff;
  padding: 20px 0 24px;
  width: 230px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #E72463;
}

.dropdown-submenu > li > a {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  position: relative;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-submenu > li > a:hover {
  color: #E72463;
}

.dropdown-submenu > li > a.active {
  color: #E72463;
}

.dropdown-submenu > li > a > i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
  font-size: 15px;
  padding-right: 15px;
}

.dropdown-hover {
  position: absolute;
  top: 110%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
  z-index: 999;
}

.dropdown-hover-2 {
  position: absolute;
  top: 110%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
  z-index: 999;
}
.dropdown-search {
  width: 340px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@media (max-width: 479px) {
  .dropdown-search {
    width: 280px;
  }
}

.dropdown-search form input {
  width: 100%;
  display: block;
  padding: 10px 30px 10px 10px;
  border: 0px;
}

.dropdown-search form button {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
}

.dropdown-search form button:hover {
  color: #E72463;
}
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 380px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
      -ms-transform: translateX(calc(-100% - 50px));
          transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 280px;
  }
}

.off-canvas-wrapper .btn-close-off-canvas {
  left: 92%;
  position: relative;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .btn-close-off-canvas {
    left: 89.2%;
  }
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

/*----- Offcanvas Menu start -----*/
.off-canvas-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-menu-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-menu-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-menu-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(100% - 50px));
      -ms-transform: translateX(calc(100% - 50px));
          transform: translateX(calc(100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: auto;
  right: 0;
  position: fixed;
}

.off-canvas-menu-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

.off-canvas-menu-wrapper .offcanvas-widget-area {
  padding-top: 40px;
}

.off-canvas-menu-wrapper .offcanvas-widget-area .desc-content {
  padding-bottom: 30px;
}

.off-canvas-menu-wrapper .top-info-wrap {
  padding-bottom: 20px;
}

.btn-close-off-canvas {
  width: 30px;
  height: 30px;
  color: #000000;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-close-off-canvas i {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  line-height: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-close-off-canvas:hover {
  color: #E72463;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-close-off-canvas:hover i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-info-wrap {
  bottom: 0px;
  margin-top: auto;
  padding-bottom: 40px;
}

.top-info-wrap .address-info {
  margin-bottom: 20px;
}

.top-info-wrap .address-info li {
  margin-bottom: 10px;
}

.top-info-wrap .address-info li i {
  font-size: 18px;
  margin-right: 10px;
}

.offcanvas-widget-area {
  padding: 0px 40px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (max-width: 479px) {
  .offcanvas-widget-area {
    padding: 0 30px 20px;
  }
}

.offcanvas-widget-area .menu-top-menu > li {
  list-style: none;
  margin-bottom: 20px;
  white-space: nowrap;
}

.offcanvas-widget-area .menu-top-menu > li > a {
  font-size: 60px;
  padding-bottom: 8px;
  color: #000000;
  line-height: 25px;
  font-family: "Great Vibes", cursive;
}

.offcanvas-widget-area .menu-top-menu > li > a:hover {
  color: #E72463;
}

.offcanvas-widget-area .switcher {
  border-top: 1px solid #e5e5e5;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.offcanvas-widget-area .language {
  margin-bottom: 8px;
}

.offcanvas-widget-area .switcher-title {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu {
  background: none;
  display: inline-block;
}

.offcanvas-widget-area .switcher-menu > ul > li {
  list-style: none;
  position: relative;
}

.offcanvas-widget-area .switcher-menu > ul > li > a {
  background: none;
  color: #E72463;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 5px 15px 5px 0;
  position: relative;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu > ul > li > a:before {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.offcanvas-widget-area .switcher-dropdown {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  height: auto;
  left: 50%;
  padding: 6px 10px !important;
  position: absolute;
  top: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
}

.offcanvas-widget-area .switcher-menu > ul > li:hover .switcher-dropdown {
  opacity: 1;
  visibility: visible;
}

.offcanvas-widget-area .switcher-dropdown > li {
  list-style: none;
  display: block;
  border-bottom: 0 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.offcanvas-widget-area .switcher-dropdown > li:last-child {
  border-bottom: none;
}

.offcanvas-widget-area .switcher-dropdown > li > a {
  background: none;
  color: #555555;
  display: block;
  line-height: 33px;
  white-space: nowrap;
}

.offcanvas-widget-area .switcher-dropdown > li > a:hover {
  color: #E72463;
}
.search-box-offcanvas {
  margin-bottom: 10px;
  padding: 20px 40px 0px 40px;
}

@media (max-width: 479px) {
  .search-box-offcanvas {
    padding: 30px 30px 0 30px;
  }
}

.search-box-offcanvas form {
  position: relative;
}

.search-box-offcanvas form input {
  color: #000000;
  font-size: 13px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 40px 0 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.search-box-offcanvas form input:hover {
  border-color: #E72463;
}

.search-box-offcanvas form .search-btn {
  top: 50%;
  right: 1px;
  font-size: 20px;
  color: #000000;
  position: absolute;
  background: #ffffff;
  border: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 8px;
}

.search-box-offcanvas form .search-btn:hover {
  color: #E72463;
}

.mobile-header .category-toggle {
  padding: 8px 15px;
}

.mobile-menu-btn .off-canvas-btn {
  font-size: 22px;
  cursor: pointer;
  padding: 0px 12px;
  line-height: 1;
  padding-right: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: -3px;
}

.mobile-menu {
  height: 100%;
  padding-right: 30px;
  margin-right: -30px;
}

.mobile-menu li > a {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: block;
  padding: 10px 0;
  font-weight: 600;
}

.mobile-menu li > a:hover {
  color: #000;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px 8px;
  font-weight: 400;
}

.mobile-menu .has-children, .mobile-menu .menu-item-has-children {
  position: relative;
}

.mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
  line-height: 50;
  top: -7px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .mobile-menu .has-children .menu-expand, .mobile-menu .menu-item-has-children .menu-expand {
    left: 90%;
  }
}

.mobile-menu .has-children .menu-expand i, .mobile-menu .menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #252525;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu .has-children .menu-expand i:before, .mobile-menu .menu-item-has-children .menu-expand i:before {
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-bottom: 1px solid #252525;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu .has-children.active > .menu-expand i:before, .mobile-menu .menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.mobile-navigation {
  padding: 30px 40px 30px 40px;
}

@media (max-width: 479px) {
  .mobile-navigation {
    padding: 30px;
  }
}

.mobile-navigation nav {
  height: 100%;
}


.home{
  height: 100vh;
  color: #fff;
  width: 100%;
  
}
.home img{
  width: 100%;
  height: 100vh;

}
.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}
.home .text h1{
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
  color: #e5e5e5;
}
.home p{
 margin: 2px 0; 
}
.home button {
  margin-right: 20px;

}
.owl-nav .owl-prev,
.owl-nav .owl-next{
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.owl-nav .owl-prev{
  left: 0;
}
.owl-nav .owl-next{
  right: 0;
}
.new-container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, auto)) ;
  gap: 1rem;
  margin-top: 2rem;
  padding: 5%;
}
.box{
  position: relative;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
  border-radius: 50px 4px 4px 4px;
}
.box .box-img{
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 44px 4px 0 0;
  
}
.box .box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.new-container .box .box-img{
  border-radius: 4px;
}
.heading{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;

}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
 

}
.about-img img{
   width: 100%;
  border-radius: 30px;
  /* object-fit: contain; */
  height: 400px;
}
.about-text img{
  width: 100%;
  border-radius:  44px 10px 0 0;
  /* object-fit: contain; */
  height: 400px;
  
}
.about-text img:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  
  object-position: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
}

.about-text span{
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-text p{
font-size: 0.938rem;
margin: 0.5rem 0 1.4rem;
}
.about_us{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding: 15%;

}
.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-image: url(images/Gala-Dinner-Corporate-Event.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding-top: 5%;
  margin-top: 5%;
}
.newsletter h2{
  color:#e2dce9;
  
}
.newsletter-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-image: url(images/wedding-decoration-ndt-events-wedding-decor-5_15_362439-161279409591196.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding-top: 5%;
  margin-top: 5%;
}
.newsletter-1 h2{
  color:#e2dce9;
  
}
.new-box{
display: flex;
align-content: center;
align-items: center;
}

.new-box input{
  width: 260px;
  height: 40px;
  border: none;
  outline: none;
  background: #fff;
  padding: 10px;
}
.new-box .btn{
  height: 70px;
  padding: 11px;
  border-radius: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1c5c5;
  padding-top: 5% ;
  
}
.footer-area .footer-widget-area {
  padding: 100px 0;
  background-color: #1b1b1b;
}

@media (max-width: 991px) {
  .footer-area .footer-widget-area {
    padding: 60px 0px 50px 0;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-widget-area {
    padding: 60px 0px 37px 0;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-top: 38px;
  }
}

.footer-area .single-footer-widget .footer-logo {
  margin-bottom: 18px;
}

.footer-area .single-footer-widget .desc-content {
  margin-bottom: 23px;
  color: #ffffff;
}

.footer-area .single-footer-widget .social-links ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 12px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer-area .single-footer-widget .social-links ul li a:hover {
  color: #ffffff;
  background-color: #E72463;
  border-color: #E72463;
}

.footer-area .single-footer-widget .widget-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-top: -1px;
  margin-bottom: 22px;
  line-height: 1;
}

.footer-area .single-footer-widget .widget-list {
  color: #ffffff;
  list-style: none;
  margin-bottom: 0px;
}

.footer-area .single-footer-widget .widget-list li {
  line-height: 1;
  padding: 8px 0;
}

.footer-area .single-footer-widget .widget-list li:last-child {
  padding-bottom: 0;
}

.footer-area .single-footer-widget .widget-list li a {
  font-weight: 300;
}

.footer-area .single-footer-widget .widget-list li a:hover {
  margin-left: 5px;
  color: #E72463;
}

.footer-area .single-footer-widget .widget-body address {
  line-height: 2;
  color: #ffffff;
  font-weight: 300;
}

.footer-area .footer-copyright-area {
  background-color: #000000;
  padding: 20px 0px;
}

.footer-area .footer-copyright-area .copyright-content {
  color: #ffffff;
}

.footer-area .footer-copyright-area .copyright-content p {
  margin-bottom: 0px;
}

.footer-area .footer-copyright-area .copyright-content a {
  color: #E72463;
}

.footer-area .footer-copyright-area .copyright-content a:hover {
  color: #ffffff;
}



